body {
      font-family: helvetica, sans-serif;
}
#header{
  overflow: hidden;
}

.pure-g {

}

.pure-u-1 {
      box-sizing: border-box;
      padding: 25px;
      text-align: center;
}

h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3em;
      font-variant: small-caps;
      letter-spacing: 7px;
      text-align: center;
}

h2 {
      font-family: 'Montserrat', sans-serif;
      padding-top: 13px;
      text-align: center;
      letter-spacing: 2px;
      font-size: 1em;
}

p {
      margin-bottom: 25px;
      text-align: left;
      line-height: 1.6em;
}

ul {
      list-style-type: none;
      padding: 0;
}

.content{
      width: 70%;
      margin: 0 auto;
}

@media (max-width: 48em) {
      li a {
            color: red;
      }

      li {
            display: inline;
            margin-right: 10px;
      }
}
