<div class="pure-g">
  <img id="header" src="http://res.cloudinary.com/axa/image/upload/v1477319670/bloemen_fb6vvo.png" alt="banner">
      <div class="pure-u-1">
            <h1>axana's portfolio</h1>
            <h2>Student Grafische en Digitale media</h2>
      </div>

            <div class="pure-u-1 pure-u-md-3-4 content">
              <h3>Magazine cover</h3>
                  <img src="afbeeldingen/demon.jpg">
              <h3>Foto slider transition</h3>
                  <img src="afbeeldingen/hover_effect.png">
              <h3>Webdesign Collary</h3>
                  <img src="afbeeldingen/collary.png">
              <h3>Webdesign portfolio</h3>
                  <img src="afbeeldingen/portfolio.png">
              <h3>3D Aniversay card</h3>
                  <img src="afbeeldingen/final.gif">
            </div>

      <div class="pure-u-1 pure-u-md-1-4">
        <div id="voorstelling">
              <img id="portret" src="http://res.cloudinary.com/axa/image/upload/v1479382649/Axana_dk4lcl.jpg" alt="axana">
        </div>
        <div id="overMij">
              <p>Welkom op mijn portfolio website! Mijn naam is Axana Vercamme. Momenteel studeer ik crossmedia ontwerp aan de AP
              Hogeschool te Antwerpen.</p>
              <h3>Wat kan je zoal verwachten?</h3>
              <p>Op mijn website kan je al mijn werk terugvinden. Dit gaat van webdesign tot grafisch design. Alle leuke schoolopdrachten
                of buitenschoolse opdrachten zullen hier verschijnen.</p>
        </div>
      </div>

      <div class="pure-u-1 footer">
            <p>&copy;Axana Vercamme</p>
      </div>
</div>
